/**
 * @name Unshittified VR Source
 * @version 2.6.1
 * @author wesoree
 * @description unshittified visual refresh source
 */
/* scatt's unfucked server list */
@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");



:root {
    --custom-app-top-bar-height: 22px; /* Change the height of the top bar (reccomended 22 px) */
    --disable-activity-status: false;
    --resizable-sidebar:false; /*set this to false to emulate old discord*/
    --hide-titlebar:false;
    
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(
        max(var(--guildbar-avatar-size), var(--guildbar-folder-size))
        + var(--custom-guild-list-padding) * 2
    );

    /*deps (DO NOT CHANGE)*/
    --blurple:#5865F2;
}

nav[class*="guilds"] {
    /* Uncomment if you changed up your nameplate */
    /*margin: 0;
    [class*="sidebar_"]::after {
        height: 0;
    } */

    defs>path {
        /* #svg-mask-squircle */
        d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z");
    }

    defs, 
    [class*="blobContainer"],
    [class*="listItemWrapper"],
    [class*="wrapper"],
    [class*="tutorialContainer"] [class*="wrapper"],
    svg[class*="placeholderMask"],
    svg:not([class*="placeholderMask"]) > foreignObject {
        width: var(--guildbar-avatar-size) !important;
        height: var(--guildbar-avatar-size) !important;
    }

    [class*="dragInner"] {
        width: 40px;
        height: 40px;
    }

    [class*="dragOver"] {
        &[class*="-target"]::before {
            width: 100%;
            left: calc(var(--guildbar-avatar-size) / 4);
        }

        &[class*="centerTarget"]::before {
            top: calc(var(--guildbar-avatar-size) / 2 + 8px)
        }
    }

    [class*="childWrapper"]>svg {
        width: calc(var(--guildbar-avatar-size) - 18px);
        height: calc(var(--guildbar-avatar-size) - 18px);
    }

    [class*="childWrapper"],
    [class*="childWrapper"] img,
    img[class*="icon"], [class*="folderPreviewGuildIcon"], /* allat cause of -iconBadge */
    [class*="circleIconButton"] {
        border-radius: 50% !important;
        transition: border-radius 150ms linear;

        [class*="selected"] &, &[class*="selected"] {
            border-radius: 27% !important;
        }
    }

    [class*="shiftSVG"] {
        top: 0px;
        left: 0px;

        foreignObject {
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);

        &:not([class*="folderHeader"] mask) {
            use[href$="-lower_badge_masks"] {
                translate: var(--badge-offset) var(--badge-offset);
            }

            use[href$="upper_badge_masks"] {
                translate: var(--badge-offset);
            }
        }

        use[href$="blob_mask"] {
            scale: var(--blob-scale);
        }
    }

    [class*="folderPreviewWrapper"] {
        display: flex;
        justify-content: center;
        align-items: center;

        [class$="-folderPreview"] {
            width: calc(var(--guildbar-folder-size) * (2/3) + var(--custom-folder-preview-gap));
            height: calc(var(--guildbar-folder-size) * (2/3) + var(--custom-folder-preview-gap));
        }
    }

    [class*="iconSizeMini "] {
        width: calc(var(--guildbar-folder-size) / 3);
        height: calc(var(--guildbar-folder-size) / 3);

        [class*="-acronym"] {
            line-height: calc(var(--guildbar-folder-size) / 3);
        }

        &[style*="font-size: 12px;"] {
            font-size: 10px !important;
        }
        &[style*="font-size: 10px;"] {
            font-size: 7px !important;
        }
        &[style*="font-size: 8px;"] {
            font-size: 6px !important;
        }
    }

    [class*="folderButton"] {
        overflow: visible;
    }

    [class*="folderHeader"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
    }
    
    [class*="folderIcon"] {
        svg {
            width: 24px !important;
            height: 24px !important;
        }
        
        background-color: var(--bg-mod-subtle);
    }
    
    #guild-list-unread-dms > div {
        height: var(--guildbar-avatar-size) !important;
    }

    [class*="isExpanded"] {
        [class*="-folderGroupBackground"] {
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }

        [class*="stack"] {
            height: auto !important;
        }
    }

    [id^="folder-items-"] {
        --guildbar-avatar-size: var(--guildbar-folder-size);
        --blob-scale: var(--folder-blob-scale);
    }
}
/* unfucked titlebar by Julienraptor01 and oldcord devs with few modifications and now with browser/linux support */
.platform-web:not(html[data-dorion-platform="linux"]),
.platform-linux {
	.base_c48ade {
		grid-template-areas: "titleBar titleBar titleBar" "notice notice notice" "guildsList channelsList page";
		grid-template-rows: [top] 0px [titlebarEnd] min-content [page] 0px [end] !important;
	}
	.bar_c38106 .title_c38106 {
		display: none;
	}
	.bar_c38106 .trailing_c38106 {
		top: 18px !important;
	}
	.scroller_ef3116 {
		padding-top: 12px !important;
	}
	.notice__6e2b9,
	#bd-notices {
		margin-top: 0px !important;
	}
	.base_c48ade:has(.notice__6e2b9, .bd-notice) .bar_c38106 .trailing_c38106 {
		top: 69px !important;
	}
    a[href="https://support.discord.com"] {
        display: none; /*help page support never existed :3 */
    }
}

/*windows support*/
html.platform-win{
    [class^=bar] {
        padding: unset; /* Force the top bar taking the whole width of the screen */
        gap:unset;
        > [class^=title] {
            gap:0;
            position: absolute; /* Make the title left aligned */
            right:unset;
            padding-left:8px;
            > [class^=title]{
                gap:0px;
                > [class^=defaultColor]{
                    font-weight: bolder;
                    color:#9B9CA3;
                }
                &>svg{
                  display:none;  
                }
                > [class^=icon] {
                    display:none
                }
            }
        }
        > [class^=trailing] {
            gap: unset; /* Make sure there is no space in between the buttons and window buttons */
            > [class^=clickable] {
                position:absolute;/*move to topbar and off of titlebar like old discord*/
                margin-top: 80px !important;
                margin-right:10px !important;
                &>.button__85643{
                    padding:unset !important;
                    height:32px !important;
                    width:32px !important;
                }
            }
            > a[href="https://support.discord.com"] {
                display: none; /* Discord, we don't need your useless help page... */
            }
            > [class^=button]
            {
                height: 16px; /* Scale the icon down */
                width: 16px; /* Scale the icon down */
                padding: 3px 12px; /* Make the button take reasonable space */
                &:hover
                {
                    background-color: var(--background-modifier-hover); /* Make the update button have a correct hover effect */
                    color: var(--interactive-hover); /* Make the update button have a correct hover effect */
                }
            }
            > [class^=winButtons] {
                gap: unset; /* Make sure there is no space in between the window buttons */
                > [class^=winButton] {
                    width: 25px; /* Make the buttons take reasonable space */
                }
            }
        }

    }
    .notice__6e2b9,
	#bd-notices {
		box-shadow: var(--elevation-low);
		margin-top: 22px;
		margin-bottom: -38px;
		grid-area: channelsList / channelsList / channelsList / page;
	}
	.base_c48ade:has(.notice__6e2b9, .bd-notice) .trailing_c38106 {
		top: 89px;
		.winButtons_c38106 {
			bottom: 73px;
		}
	}
	.base_c48ade:has(.notice__6e2b9, .bd-notice) :is(.sidebarList_c48ade, .page_c48ade) {
		margin-top: 37px;
	}
	.page_c48ade {
		height: auto;
	}

	.section__00943 {
		background: #2f3136;
	}

}
.bar_c38106 .trailing_c38106 {
		z-index: 102;
}
/* make channel list fixed width + remove whitespace in channel list*/
@container style(--resizable-sidebar:false){
    [class*="sidebarResizeHandle_"] { display: none !important; }
    .sidebarList__5e434 {
        width:240px !important;
        &>.container__2637a{
            &>.scroller__629e4{
                margin-bottom:0px !important;
            }
        }
    }
    /* unfucked user panel by evie (with a few modifications) */
    .visual-refresh div[class^="sidebar_"] section[class^="panels_"] {    
        width: 241px; /*channel list width + 1*/
        left: var(--custom-guild-list-width);
        margin-top:0px;
        bottom: 0px;
        border-radius: 0px;
        border: none;
        border-left:1px solid #1E1E20;
        .buttons__37e49{
            gap:1px !important;
        }
    }
    .container__37e49{
        gap:1px !important;
        &>.buttons__37e49{
            &>div{
                &>.button__67645 {
                    border-radius:8px;
                }
                &>.buttonChevron__37e49 {
                    display:none;
                }
            }
        }
    }
    .bannerImg_f37cb1{
        width:241px;
    }
}

@container style(--resizable-sidebar:true){
    .visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
        width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
        left: var(--custom-guild-list-width);
        bottom: 0px;
        border-radius: 0px;
        border: none;
        border-left:1px solid #1E1E20;
        .buttons__37e49{
            gap:1px !important;
        }
    }
    .container__37e49{
        gap:1px !important;
        &>.buttons__37e49{
            &>div{
                &>.button__67645 {
                    border-radius:8px;
                }
                &>.buttonChevron__37e49 {
                    display:none;
                }
            }
        }
    }
}

@container style(--disable-activity-status:true){
    	h3[class*="membersGroup"]:has(svg path[d^="M10.56 1.1c"]) {
		display: none;
	}

	:is(div[aria-label="Members"], div[class*="members_"] > div[role="list"][aria-label]) > div:not([class], [role], [aria-label], [aria-role]):has(> div > div[class*="openOnHover"]) {
		display: none;
	}
}

.headerBar__8a7fc,.overlay__8a7fc{
    padding-right:44px !important;
}

/*unfucked unread messages bar*/
.newMessagesBar__0f481{
    padding-left:12px;
    padding-right:12px;
}

.scrollerSpacer__36d07{
    height:4px !important;
}

/* unfucked context menu by abbie and modified by me */
div[class*="clickTrapContainer"] div[role="menu"] {
    div[role="group"] {
			padding: 0;
		}
    div:is([role="menuitem"],[role="menuitemcheckbox"]), div[class*="hideInteraction_"] {
			padding-top: 2px;
            padding-bottom:2px;
            margin:0px !important;
    }
}
.activityPanel_c48ade{
    border-radius:0;
}

/* add whitespace to to the top of the guild list because it drives my OCD mad */
.tutorialContainer__1f388{
    margin-top:2px;
    &>.listItem__650eb{
        margin-bottom:unset !important;
    }
}

/* Remove bottom whitespace */
.sidebar_c48ade::after{
    display:none
}

/* unfucked convo searching ui */
.quickswitcher_ac6cb0{
    &>.input_ac6cb0{
        height:44px;
        font-size:14pt;
    }
    &>.scroller_ac6cb0 {
        margin-top:0px;
    }
}

.visual-refresh nav[class*=guilds_] {
  margin-bottom: unset;
}

/* compact ping/unread bars */
.mentionsBar__7aaec{
    padding:5px !important;
}

.bar__7aaec{
    padding:2px !important;
}

.barText__7aaec{
    padding-right:5px !important;
    padding-left:5px !important;
}
.unreadIcon__7aaec{
    padding-left:5px !important;
}

.content__44df5{
    margin-left:10px !important;
}

/* unfucked nitro/shop */
.applicationStore_f07d62{
    border-left:1px solid #1E1E20;
}
.shop__6db1d{
    border-left:1px solid #1E1E20;
}


/* unfucked channel icons/title padding */

.subtitleContainer_f75fb0{
    & > .title_f75fb0{
        padding-right:44px !important;
        padding-left:5px;
        & > .upperContainer__9293f{
            & > .toolbar__9293f{
                gap: 2px;
                &>.search__49676{
                    &>.search__97492{
                        &>.searchBar__97492{
                            width:210px !important;
                        }
                    }
                }
            }
            & > .children__9293f{
                padding-right:3px; /* let's make this look a lot less fucking weird */
                & > .hoverableContainer__754bd {
                    margin-top:5px !important;
                }
            }
        }
    }
}

.messagesWrapper__36d07 {
    margin-bottom:16px;
}

/*unfucked jump to present bar (some code was yoinked from oldcord)*/

.jumpToPresentBar__0f481 {
    margin-bottom:-8px;
    &>.barButtonMain__0f481 {
        margin-right:1em;
    }
}


/*unfucked search bar for friends list*/
.searchBar__35e86{
    & > .button__201d5 {
        padding-left:5px;
        & > .contents__201d5{
            margin-left:2px !important;
        }
    }
}

.container__133bf{
    & > .container__9293f{
        padding-left:8px;
        border-left:1px solid #1E1E20;
    }
}

/* unfucked friends list padding */
.title__1472a {
    margin-bottom:5px;
    margin-top:0px;
}
/*unfucked friends and whatnot navigation (because inbox overlaps it)*/
.container__9293f.themed__9293f{
    padding-right:35px;
}
/* remove excessive padding disorder */
.sectionDivider__35e86{
    margin-top:2px !important;
}
.title_f75fb0{
    padding-left:10px !important;
}
/*unfucked discover tab*/
.container_a592e1{
    border-left:1px solid #1E1E20;
}
/* unfucked chat bar (partially made by abbie) */
.stackedBars__74017{
    &>div{
        &>.clipContainer__841c8{
            padding:unset;
            &>.container__841c8{
                &>.replyBar__841c8{
                    &>.actions__841c8{
                        margin-right:2px;
                        & > [role="switch"]{
                            .mentionButton__841c8{
                                padding:6px;
                            }
                        }
                        &>.closeButton_e876a8{
                            padding:6px;
                        }
                    }
                }
            }
        }
        &>.bar__84522{
            &>.commandInfo__84522{
                &>.name__84522{
                    padding-left:10px;
                }
            }
            &>.actions__84522{
                margin-right:2px !important;
                &>.closeButton_e876a8{
                    padding:6px !important;
                }
            }
        }
        
    }
}
.replyLabel__841c8{
    margin-left:10px !important;
}
.scrollableContainer__74017 {
    &>.inner__74017{
        padding-left:5px !important;
        &>.attachWrapper__0923f{
            margin-left:5px;
            margin-top:16px;
            margin-bottom:unset;
            padding-top:unset;
            padding-bottom:unset;
            &>.attachButton__0923f {
                margin-top:unset;
            }
        }
    }
    
    
}
.channelTextArea__5126c {
            &>.scrollableContainer__74017 {
                &>.inner__74017{
                    &>.textArea__74017 {
                        padding-left:12px;
                    }
                }
            }
        }
section[aria-label="Thread header"]{
    padding-right:44px !important;
    &>.upperContainer__9293f{
        &>.toolbar__9293f{
            gap:2px;
        }
    }
}
:is(form, form > div) {
	& > div[class*="channelBottomBarArea"] {
		--custom-channel-textarea-text-area-height: 44px;
        /* make the margins more consistient with the rest of the app like old discord */
		margin-left:10px;
		margin-right:10px;
	}
	& > [class*="wrapper__"] {
	    padding: 10px;
    }
    /* announcement channels */
    & > [class*="wrapper__44df5"]{
        margin-bottom:8px;
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding:6px !important;
    }
    & > [class*="content__44df5"]{
        margin-top:5px !important;
        margin-bottom:5px !important;
        margin-left:6px !important;
    }
    .buttonContainer__44df5{
        margin-right:0px;
    }
    .channelAttachmentArea_b77158{
        padding-top:10px;
    }
    .image__44df5{ /* remove enshittified image in announcement channels */
	    display:none !important;
    }
    /*Threads only and Disabled*/
    .innerDisabled__74017{
        padding-left:5px !important;
        &>.attachWrapper__0923f{
            margin-left:5px;
            margin-top:16px;
            margin-bottom:unset;
            padding-top:unset;
            padding-bottom:unset;
            &>.attachButton__0923f {
                margin-top:unset;
            }
        }
    }
    /* make app launcher button more distinct from its relatives */
    .channelAppLauncher_e6e74f{
        /*display:none !important;*/
        gap:0px;
        padding-left:5px !important; 
    }
    
    /* move attach button left and remove excessive padding*/
    .attachButton__0923f {
        padding-right:unset;
        padding-left:unset;
        margin-left:-3px !important;
        margin-right:unset;
    }
    .attachButton__74017{
        &>.icon__4d3a9{
            padding:unset;
            margin-left:18px;
            margin-top:10px;
            margin-bottom:10px;
        }
    }
    /* remaining buttons */
    .buttons__74017{
        gap: 0px !important;
    }
    .textArea__74017 {
        margin-left:8px;
    }
    
}

/*forums*/
.formContainer_d9be46{
    padding-bottom:5px;
}

/* restore old categories by abbie */
ul[aria-label="Channels"] {
	li[class*="containerDefault_"]:not([class*="containerDefault__"]) a[class*="link__"] {
		--radius-sm: 5px;
	}

	li[class*="containerDefault__"] h3:is([class*="name__"], [class*="header__"]) > div {
		font-size: 95%;
		font-weight: 600;
	    text-transform: uppercase;
    }
}

/* unfuck the vc background by making it plain */
.pulseGradient__11664{
    display:none;
}

.videoControls_bfe55a{
    &>.topControls_bfe55a{
        &>div{
            &>.headerWrapper_cb9592{
                &>.subtitleContainer__49508{
                    &>.container__9293f{
                        padding-left:10px;
                    }
                    padding-right:20px;
                }
            }
        }
    }
}

.container__34c2c{
    &>.buttons__34c2c{
        gap:4px;
        &>.button__34c2c{
            padding:0;
        }
    }
}

.divider_ee23ac{
    margin-bottom:8px;
}

/*unfucked forums bar*/
.formContainer_d9be46{
    padding-bottom:unset; 
    &>.form_d9be46{
        margin:unset;
        &>.bodyContainer_d9be46{
            &>.contentContainer_d9be46{
                &>div{
                    &>.channelTextArea_d9be46 {
                        border:0;
                        &>.channelTextAreaInner_d9be46 {
                            &>.inner__74017 {
                                &>.textArea__74017 {
                                    margin:unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*unfucked boost bar (cannot remove the excessive whitespace on the top so I'll have to work around it*/
/*
.container__0d0f9{
    .contentContainer__0d0f9{
        .progressContainer__0d0f9{
            height:10px;

        }
        .textContainer__0d0f9{
            position:absolute;
            margin-bottom:4px;
            &>.textContentContainer__0d0f9{
                margin-bottom:32px;
            }
        }
    }
}*/

/* Fix for the bottom aligned chatbar experiment. */ 
.attachButton__0923f.attachButton__74017.button__24af7 {
    height: 10px;
    width: 10px;
    margin-top: 7.5px;
}
.scrollerSpacer__36d07 {
    height: 25px !important;
}